<!-- @format -->

<h2 class="mybrary__page__header"><%= author.name %></h2>
<div class="mybrary__btn__row">
  <a
    class="mybrary__btn mybrary__btn__primary"
    href="/authors/<%= author.id %>/edit"
    >Edit</a
  >
  <%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
</div>

<% if (booksByAuthor.length > 0) { %>
<h2 class="mybrary__page__header">Books By Author</h2>
<% booksByAuthor.forEach(book => { %>
<a href="/books/<%= book.id %>">
  <img height="150" width="100" src="<%= book.coverImagePath %>" />
</a>
<% }) %> <% } %>
