<!-- @format -->

<h2 class="mybrary__page__header">Search Books</h2>
<form action="/books" method="GET">
  <div class="mybrary__form__row">
    <div class="mybrary__form__item">
      <label>Title:</label>
      <input type="text" name="title" value="<%= searchOptions.title %>" />
    </div>
  </div>
  <div class="mybrary__form__row">
    <div class="mybrary__form__item">
      <label>Published After:</label>
      <input
        type="date"
        name="publishedAfter"
        value="<%= searchOptions.publishedAfter %>"
      />
    </div>
    <div class="mybrary__form__item">
      <label>Published Before:</label>
      <input
        type="date"
        name="publishedBefore"
        value="<%= searchOptions.publishedBefore %>"
      />
    </div>
  </div>
  <div class="mybrary__form__row mybrary__form__row__end">
    <button class="mybrary__btn mybrary__btn__primary" type="submit">
      Search
    </button>
  </div>
</form>
<div>
  <% books.forEach(book => { %>
  <a href="/books/<%= book.id %> ">
    <img height="150" width="100" src="<%= book.coverImagePath %>" />
  </a>
  <% }) %>
</div>
